# 1. Игнорировать всё
*
!*/

# 2. Исключить конкретные директории (и их содержимое)
!/Математика/Математический анализ/Лекции/
!/Математика/Математический анализ/Практики/
!/Математика/Математический анализ/Учебные заметки/
!/Математика/Линейная алгебра/Лекции/
!/Математика/Линейная алгебра/Практики/
!/Математика/Линейная алгебра/Учебные заметки/
!/Математика/Дискретная математика/Учебные заметки/
!/Математика/Дискретная математика/Лекции/
!/Математика/Дискретная математика/Практики/
!/Компьютерные науки/Алгоритмы и структуры данных/Лекции/
!/Компьютерные науки/Архитектуры вычислительных систем/Лекции/
!/Компьютерные науки/Архитектуры вычислительных систем/Учебные файлы/
!/Компьютерные науки/Программирование и обработка данных на Python/Учебные заметки/
!/Компьютерные науки/Программирование и обработка данных на Python/Лекции/
!/Компьютерные науки/Тренды ИИ/
!/Компьютерные науки/Проектная школа "Данные"/

# 3. Исключить сам файл .gitignore, если он был проигнорирован (хотя обычно не требуется)
# !.gitignore 

# 4. Также часто нужно исключить файл README (если он есть)
# !README.md
